.notification.ib_good,
.notification.ib_bad {
    position: fixed;
    color: #fff;
    left: 20%;
    right: 20%;
}

.notification.ib_bad {
    background: #e74c3c;
}

.notification.ib_good {
    background: #1abc9c;
}

input.ib_username,
input.ib_password {
    width: 300px;
}

input.ib_keyboard_shortcut {
    width: 30px;
}

.ib_listedNumbers {
    list-style-type: decimal;
}

.ib_disabled {
    display: none !important;
}

.ib_lds-dual-ring {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    line-height: 12px;
    margin: -4px 0 0 -2px;
}

.ib_lds-dual-ring:after {
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #e74c3c;
    border-color: #e74c3c transparent #e74c3c transparent;
    animation: ib_lds-dual-ring 1.2s linear infinite;
}

@keyframes ib_lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}